.App {
  text-align: center;
}

.game-container {
  padding: 25px;
}

.start-button {
  height: 50px;
  width: 60px;
  border-radius: 10px;
  margin: auto;
  background-color: darkgreen;
  color: white;
}

li {
  list-style: none;
  padding: 10px;
  box-shadow: 0 8px 6px -6px darkgrey;
  width: 175px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
